<div class="menuContainer">
  <ul class="menu">
    <li>
      <button class="menuItem">Dashboard</button>
    </li>
    <li>
      <button class="menuItem">Lead</button>
    </li>
    <li>
      <button class="menuItem">Project</button>
    </li>
    <li>
      <button class="menuItem">Customers</button>
    </li>
    <li>
      <button class="menuItem">Settings</button>
      <ul  class="subMenu">
        <li><button class="subMenuItem">Studio</button></li>
        <li><button class="subMenuItem">Users</button></li>
        <li><button class="subMenuItem">Event Types</button></li>
        <li><button class="subMenuItem">Services</button></li>
        <li><button class="subMenuItem">Deliverable Types</button></li>
      </ul>
    </li>
  </ul>
</div>